<div class="container">
  <div class="box text-center col-8">
    <% if current_user %>
      <h3><%= link_to "Host a match", new_game_path, class: "green" %></h3>
      <br/>
      <h3><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "green" %></h3>
    <% else %>
      <h3><%= link_to "Log in", new_user_session_path, class: "green" %></h3>
      <br/>
      <h3><%= link_to "Sign up", new_user_registration_path, class: "green" %></h3>
    <% end %>  
  </div>
</div>

<h1 class="green">
  <%= react_component("TripleDot", message: "Please work") %>
</h1>
