<!DOCTYPE html>
<html>
  <head>
    <title>Chess</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse header-color">
      <div class="green">
        <h4><%= link_to 'Homepage', root_path, class: "green" %></h4>
        <% if current_user %>
          <h5><%= "Logged in as #{current_user.username}" %></h5>
        <% end %>
        <h5 data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="green">More Info</span>
        </h5>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <h5 class="green">
          <%= link_to 'https://github.com/Learningstuff98/chess' do %>
            <div class="link green"> Github</div>
          <% end %>
          <%= link_to 'https://www.linkedin.com/in/andy-strube-6231ba152/' do %>
            <div class="link green"> Linkedin</div>
          <% end %>
          <%= link_to 'https://docs.google.com/document/d/1qm4nBdIZfsx8zh4IwYvkVuQYclpOXUCVxnC9vV3_eBM/edit' do %>
            <div class="link green"> Resume</div>
          <% end %>
          <%= link_to "Profile page", "#", class: "green" %>
          <br/>
          andystrube64@gmail.com
        </h5>
      </div>
    </nav>

    <h4 class="green text-center">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </h4>

    <%= yield %>
  </body>
</html>
